# compiled output
/api_v1/dist
/api_v1/node_modules
/web/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


### laravel
/api_v2/.phpunit.cache
/api_v2/node_modules
/api_v2/public/build
/api_v2/public/hot
/api_v2/public/storage
/api_v2/storage/*.key
/api_v2/vendor
/api_v2/.env
/api_v2/.env.backup
/api_v2/.env.production
/api_v2/.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode